<div class="login-page" style="padding-left: 300px">
    <div class="row justify-content-md-center">
        <div class="col-md-4">

        </div>
    </div>
</div>

<div>
    <div class="main-content" *ngIf="message == false">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title">Enter Your New Password</h4>
                            <p class="category"> Please Enter Your Otp and Enter New Password.</p>
                        </div>
                        <div class="card-content">
                            <form [formGroup]="rForm" (ngSubmit)="resetPassword(rForm.value,'top','center')">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-black label-floating">

                                            <label class="">Enter Email Address</label>
                                            <input type="email" class="form-control" id="email" name="email" value="{{email}}" [readonly]="true" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-black label-floating" [ngClass]="displayFieldCss('otp')">
                                            <label class="control-label">Enter OTP *</label>
                                            <input type="text" class="form-control" id="otp" name="otp" formControlName="otp" required pattern="[0-9]{6}">
                                            <div *ngIf="required!=true">
                                                <app-field-error-display [displayError]="isFieldValid('otp',0)" errorMsg="OTP is Required">
                                                </app-field-error-display>
                                            </div>
                                            <div *ngIf="pattern!=true">
                                                <app-field-error-display [displayError]="isFieldValid('otp',1)" errorMsg="Enter OTP number in numeric value">
                                                </app-field-error-display>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-black label-floating" [ngClass]="displayFieldCss('password')">
                                            <label class="control-label">Enter New Password *</label>
                                            <input type="password" class="form-control" id="password" name="password" formControlName="password" required pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{8,20})">
                                            <div *ngIf="required!=true">
                                                <app-field-error-display [displayError]="isFieldValid('password',0)" errorMsg="Password is Required">
                                                </app-field-error-display>
                                            </div>
                                            <div *ngIf="pattern!=true">
                                                <app-field-error-display [displayError]="isFieldValid('password',1)" errorMsg="Password must include at least 8 characters including at least 1 number or 1 special character and 1 Uppercase Alphabet.">
                                                </app-field-error-display>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger pull-right" routerLink="/login">Cancel</button>
                                <button type="submit" class="btn btn-danger pull-right">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main-content" *ngIf="message == true">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title">Enter Your New Password</h4>
                            <p class="category"> Please Enter Your Otp and Enter New Password.</p>
                        </div>
                        <div class="card-content">
                            <form [formGroup]="rForm" (ngSubmit)="resetPassword1(rForm.value,'top','center')">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-black label-floating">

                                            <label class="">Enter Email Address</label>
                                            <input type="email" class="form-control" id="email" name="email" value="{{email}}" [readonly]="true" required>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-black label-floating" [ngClass]="displayFieldCss('otp')">
                                            <label class="control-label">Enter OTP *</label>
                                            <input type="text" class="form-control" id="otp" name="otp" formControlName="otp" required pattern="[0-9]{6}">
                                            <div *ngIf="required!=true">
                                                <app-field-error-display [displayError]="isFieldValid('otp',0)" errorMsg="OTP is Required">
                                                </app-field-error-display>
                                            </div>
                                            <div *ngIf="pattern!=true">
                                                <app-field-error-display [displayError]="isFieldValid('otp',1)" errorMsg="Enter OTP number in numeric value">
                                                </app-field-error-display>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-black label-floating" [ngClass]="displayFieldCss('password')">
                                            <label class="control-label">Enter New Password *</label>
                                            <input type="password" class="form-control" id="password" name="password" formControlName="password" required pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{8,20})">
                                            <div *ngIf="required!=true">
                                                <app-field-error-display [displayError]="isFieldValid('password',0)" errorMsg="Password is Required">
                                                </app-field-error-display>
                                            </div>
                                            <div *ngIf="pattern!=true">
                                                <app-field-error-display [displayError]="isFieldValid('password',1)" errorMsg="Password must include at least 8 characters including at least 1 number or 1 special character and 1 Uppercase Alphabet.">
                                                </app-field-error-display>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger pull-right" routerLink="/dahsboard">Cancel</button>
                                <button type="submit" class="btn btn-danger pull-right">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>