<div class="login-page" style="padding-left: 300px">
    <div class="row justify-content-md-center">
        <div class="col-md-4">

        </div>
    </div>
</div>

<div id="map">
    {{error1}}
    <h3 style="color:blue;">{{error}}</h3>
    <div class="main-content" *ngIf="email == null">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title">Find Your Account</h4>
                            <p class="category"> Please enter your email address to search for your account</p>
                        </div>
                        <div class="card-content">
                            <form [formGroup]="rForm" (ngSubmit)="forgotPassword(rForm.value,'top','center')">
                                <!--  -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-black label-floating" [ngClass]="displayFieldCss('email')">
                                            <label class="control-label">Email address *</label>
                                            <input type="email" class="form-control" id="email" name="email" formControlName="email" required/>
                                            <div *ngIf="required!=true">
                                                <app-field-error-display [displayError]="isFieldValid('email',0)" errorMsg="Email is Required">
                                                </app-field-error-display>
                                            </div>
                                            <div *ngIf="pattern!=true">
                                                <app-field-error-display [displayError]="isFieldValid('email',1)" errorMsg="Enter Email is Ex. azamsharp@gmail.com Format">
                                                </app-field-error-display>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger pull-right" routerLink="/login">Cancel</button>
                                <!-- <button type="button" class="btn btn-danger pull-right" routerLink="/login">Cancle</button> -->
                                <button type="submit" class="btn btn-danger pull-right">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content" *ngIf="email != null">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title">Find Your Account</h4>
                            <p class="category"> Please enter your email address to search for your account</p>
                        </div>
                        <div class="card-content">
                            <form [formGroup]="rForm" (ngSubmit)="forgotPassword1('top','center')">
                                <!--  -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-black label-floating">
                                            <label class="control-label">Email address *</label>
                                            <input type="email" class="form-control" id="email" name="email" value="{{email}}" [readonly]="true" />
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger pull-right" routerLink="/dashboard">Cancel</button>
                                <!-- <button type="button" class="btn btn-danger pull-right" routerLink="/login">Cancle</button> -->
                                <button type="submit" class="btn btn-danger pull-right">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>